html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: top;
  table-layout: fixed;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: top;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus,
a:active,
a:hover {
  outline: 0;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
}
q {
  quotes: "\00ab" "\00bb";
}
q q {
  quotes: "\201e" "\201c";
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: none;
  vertical-align: top;
}
.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}
legend {
  border: 0;
  padding: 0;
}
button,
input,
select,
textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
.before,
.after,
.header__feedback-btn:after,
.footer__col-title:after,
.title:after,
.swiper-button-prev:before,
.swiper-button-next:before,
.swiper-button-next:after,
.btn:after,
.iserv__item:after,
.publ__item-cover:before,
.publ__item-cover:after,
.igall__overimg:before {
  content: '';
  position: absolute;
  display: block;
}
.centerPos {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.container {
  width: 100%;
  max-width: calc(100% - 98px);
  margin: 0 auto;
}
* {
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
a {
  text-decoration: none;
}
html {
  font-size: 14px;
}
html,
body,
.wrapper {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility !important;
}
body {
  position: relative;
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: 'GothamPro', sans-serif;
  font-weight: normal;
  box-sizing: border-box;
  overflow-x: hidden;
}
body.blocked,
body.open-menu {
  overflow: hidden;
  -ms-touch-action: none;
  touch-action: none;
}
.wrapper {
  overflow-x: hidden;
  z-index: 1;
  min-height: 100vh;
}
.header {
  position: fixed;
  left: 0;
  width: 100%;
  height: 110px;
  background-color: #fff;
  z-index: 11;
}
.header__burger {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  padding: 0;
  outline: none;
  border: none;
  background: #f8f8f8;
  user-select: none;
  cursor: pointer;
  z-index: 10;
}
@media (max-width: 991px) {
  .header__burger {
    display: block;
  }
}
.header__burger i {
  display: block;
  position: absolute;
  width: 20px;
  height: 2px;
  top: auto;
  bottom: 19px;
  left: 15px;
  transition-delay: 0.13s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition-duration: 0.13s;
  background-color: #b2b2b2;
}
.header__burger i:before,
.header__burger i:after {
  display: block;
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  transition-timing-function: ease;
  transition-duration: 0.15s;
  transition-property: transform;
}
.header__burger i:before {
  top: -6px;
  transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  background-color: #b2b2b2;
}
.header__burger i:after {
  top: -12px;
  bottom: -10px;
  transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s, opacity 0.1s linear;
  background-color: #b2b2b2;
}
.header__burger--active i {
  transition-delay: 0.22s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  transform: translate3d(0, -5px, 0) rotate(-45deg);
}
.header__burger--active i:before {
  top: 0;
  transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.16s, transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
  transform: rotate(-90deg);
}
.header__burger--active i:after {
  top: 0;
  transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s linear 0.22s;
  opacity: 0;
}
.header__row {
  display: flex;
  align-items: center;
  padding-left: 24px;
}
.header__logo {
  flex-shrink: 0;
  margin-right: 73px;
}
.header__contacts {
  display: flex;
  justify-content: space-between;
  width: calc(100% - 701px);
}
.header__contacts-item {
  display: inline-flex;
  align-items: center;
  margin-right: 45px;
}
.header__contacts-item:last-child {
  margin-right: 0;
}
.header__contacts-item-overico {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  background-color: #f1f7ff;
  border-radius: 5px;
  flex-shrink: 0;
  margin-right: 29px;
}
.header__contacts-item-ico {
  max-width: 90%;
  max-height: 90%;
}
.header__contacts-item-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.header__contacts-item-title {
  color: #076af2;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  margin-bottom: 8px;
  letter-spacing: 0.025em;
}
.header__contacts-item-phone {
  color: #1d1f20;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
}
.header__contacts-item-address {
  display: block;
  color: #a7a7a7;
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  margin-top: 5px;
  letter-spacing: 0.025em;
}
.header__feedback-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: auto;
  color: #076af2;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  background-color: #f1f7ff;
  transition: background 0.4s, color 0.4s;
  width: 309px;
  min-height: 110px;
  padding: 2px 16px 0 0;
  letter-spacing: 0.017em;
  z-index: 1;
}
.header__feedback-btn:before {
  content: '';
  display: block;
  position: relative;
  margin-right: 25px;
  width: 26px;
  height: 26px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAflBMVEUAAAAAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavbD3vyFAAAAKXRSTlMA62stDWn6G8mglB8UBObhwXE4Mybe1c+1rHtoSxnz8LeqhUKMXE9EQUlSaMsAAADwSURBVCjPbZFZssIgEEVbzEjmeTLq0zfd/W/QDoIYk/NBQZ3q5kLTijC/HWmfFkB+J0slfL07iivLITbGBQ62TSSBpn6ZlaMyw0G5X8C6rzHiNe6QLT0DaMf3OQCkw67BwOoCjWAlcqD1ORhwIkqNqmjhnqLlOomAqNdmMglTSKLZQ8kBFS4Z/uD5HAg3ij0waUIvchREP0vH0IQwTAEf5pFz1KrsXNMOEguds6OcTLlrsuP+oeifdWXhk6WAoos2czApcRbJZg7JYD4Z2LhQOzsHy7h2gt4om3dVrd/37cEw0QdRqKVLW+aizy7BSe0fDmknB02GGk0AAAAASUVORK5CYII=") no-repeat center;
  transition: background 0.4s;
}
.header__feedback-btn:after {
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #076af2;
  transition: width 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: -1;
}
.header__feedback-btn:hover {
  color: #fff;
}
.header__feedback-btn:hover:after {
  width: 100%;
}
.header__feedback-btn:hover:before {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAMAAACelLz8AAAAh1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9qkf8RAAAALHRSTlMAaessGfqUFA7m4cnBfWtMOCDezrWfNCUcCwbz8NbSt6uqoXRvQ0EwroyIXI2veqYAAADsSURBVCjPbdHXcsIwFEXRo0TuvYCNqaEm4fz/9yEXIYxYb549V3MtYWYRJ9/4bEcyvsBYphKjm9irePB0EeSXOaZwybJ5lllDHk6fGWnaT1IA8HYM+zMjTk0CPknXV63kr0obTlJgJWJy26rFyAwIdFqidw24VXMuK6CeisCoDegC0mEOoYt2odOqhfgPz6ESdHiKeQLujIDF2xRElAIyyYBmGFs3+MBlr1rB5odD23ewXTmox7n8LGGcxlYV1jvoLblOO1Xe2kFfMmm149TMOxjJvAm8yMvXdJv/359jD2nF0dHFJs91uIky9B4UxSmAmLnsQAAAAABJRU5ErkJggg==");
}
.footer {
  margin-top: 150px;
}
.footer__top {
  padding: 50px 0;
  background-color: #f8f8f8;
}
.footer__row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -13.5px;
  width: calc(100% + 27.5px);
}
.footer__col {
  width: calc(100% / 6 - 27.5px);
  margin: 0 13.5px;
}
.footer__col--x2 {
  width: calc(100% / 3 - 27.5px);
}
.footer__col--x2 .footer__nav {
  column-count: 2;
}
.footer__col-title {
  position: relative;
  color: #1d1f20;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.footer__col-title:after {
  left: 0;
  bottom: 0;
  width: 20px;
  height: 3px;
  background-color: #076af2;
}
.footer__nav--bottom {
  display: inline-flex;
  width: calc(100% - 700px);
  justify-content: space-between;
}
.footer__nav--bottom .footer__nav-item {
  margin-right: 30px;
  margin-bottom: 0;
}
.footer__nav--bottom .footer__nav-item:last-child {
  margin-right: 0;
}
.footer__nav--bottom .footer__nav-href {
  font-size: 13px;
  font-weight: 400;
  line-height: 17px;
  color: #737374;
  border: none;
  transition: color 0.4s;
  white-space: nowrap;
}
.footer__nav--bottom .footer__nav-href:hover,
.footer__nav--bottom .footer__nav-href--active {
  color: #fff;
}
.footer__nav-item {
  margin-bottom: 15px;
}
.footer__nav-item:last-child {
  margin-bottom: 0;
}
.footer__nav-href {
  color: #797a7a;
  font-size: 15px;
  font-weight: 400;
  line-height: 19px;
  border-bottom: 2px solid transparent;
  transition: border 0.4s, color 0.4s;
}
.footer__nav-href:hover,
.footer__nav-href--active {
  color: #1d1f20;
  border-color: #076af2;
}
.footer__bottom {
  background-color: #1d1f20;
  padding: 30px 0;
}
.footer__bottom .footer__row {
  width: 100%;
  margin: 0;
  align-items: center;
}
.footer__coopy {
  color: rgba(255,255,255,0.14);
  font-size: 13px;
  line-height: 17px;
  font-weight: 400;
  margin-right: 60px;
}
.footer__dev {
  display: inline-flex;
  vertical-align: top;
  align-items: flex-start;
  text-align: left;
  margin-left: auto;
  color: #6e6e6e;
  font-family: Arial;
  font-size: 10px;
  line-height: 12px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.06em;
  margin-top: 3px;
  transition: opacity 0.4s;
}
.footer__dev:hover {
  opacity: 0.7;
}
@media (max-width: 1169px) {
  .footer__dev {
    font-size: 9px;
    line-height: 11px;
  }
}
.footer__dev span {
  display: inline-block;
  vertical-align: middle;
  color: #d3d3d3;
  font-family: Arial;
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 11px;
  padding: 4px 5px 3px;
  background-color: #076af2;
  letter-spacing: 0.1em;
}
@media (max-width: 1169px) {
  .footer__dev span {
    font-size: 12px;
    line-height: 14px;
  }
}
.main {
  padding: 110px 0 0 96px;
}
.title {
  position: relative;
  color: #1d1f20;
  font-size: 36px;
  line-height: 40px;
  font-weight: 500;
  padding-bottom: 30px;
  margin-bottom: 35px;
  letter-spacing: 0.02em;
}
.title:after {
  left: 0;
  bottom: 0;
  width: 52px;
  height: 3px;
  background-color: #076af2;
}
.title--white {
  color: #fff;
}
.title--white:after {
  background-color: #fff;
}
.swiper-buttons {
  background-color: #fff;
  display: inline-flex;
}
.swiper-button-prev,
.swiper-button-next {
  position: relative;
  left: auto;
  right: auto;
  top: auto;
  margin: 0;
  width: 125px;
  height: 96px;
  transform: none;
  background: none;
}
.swiper-button-prev:hover:before,
.swiper-button-next:hover:before {
  border-color: #076af2;
}
.swiper-button-prev:before,
.swiper-button-next:before {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 8px;
  height: 8px;
  border-left: 2px solid #1d1f20;
  border-bottom: 2px solid #1d1f20;
  transition: border 0.4s;
}
.swiper-button-next:before {
  transform: translate(-50%, -50%) rotate(45deg) scale(-1, -1);
}
.swiper-button-next:after {
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 2px;
  height: 26px;
  background-color: #f5f5f5;
}
.hidden-block {
  display: none;
}
.btn {
  display: inline-block;
  vertical-align: top;
  position: relative;
  background-color: #fff;
  color: #076af2;
  font-family: GothamPro;
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
  white-space: nowrap;
  padding: 33px 60px;
  letter-spacing: 0.025em;
  outline: none;
  border: none;
  transition: color 0.4s;
  user-select: none;
  z-index: 1;
}
.btn:after {
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #076af2;
  transition: width 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: -1;
}
.btn:hover {
  color: #fff;
}
.btn:hover:after {
  width: 100%;
}
.btn--lite {
  background-color: #f1f7ff;
}
.nav {
  position: fixed;
  left: 0;
  top: 110px;
  width: 96px;
  height: calc(100vh - 110px);
  min-height: 650px;
  background-color: #fff;
  box-shadow: -15px 0 56.4px 3.6px rgba(0,0,0,0.08);
  z-index: 10;
}
.nav__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.nav__list-item {
  border-top: 1px solid #f2f2f2;
}
.nav__list-href {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 35px 10px 20px;
}
.nav__list-href-overico {
  margin-bottom: 10px;
}
.nav__list-href-overico svg {
  fill: #a7a7a7;
  transition: fill 0.4s;
}
.nav__list-href-text {
  color: #a7a7a7;
  font-size: 12px;
  line-height: 14px;
  font-weight: 500;
  transition: color 0.4s;
}
.nav__list-href:hover .nav__list-href-overico svg {
  fill: #076af2;
}
.nav__list-href:hover .nav__list-href-text {
  color: #076af2;
}
.social {
  padding: 0;
  display: inline-flex;
  align-items: center;
  margin: 0 0 0 auto;
}
.social__item {
  flex-shrink: 0;
  margin-right: 35px;
}
.social__item:last-child {
  margin-right: 0;
}
.social__item-href {
  display: inline-block;
  vertical-align: top;
  background-repeat: no-repeat;
  background-position: center;
}
.social__item-href svg {
  fill: #818283;
  transition: fill 0.4s;
}
.social__item-href:hover svg {
  fill: #076af2;
}
.social__item-href--vk {
  width: 22px;
  height: 12px;
}
.social__item-href--fb {
  width: 12px;
  height: 22px;
}
.social__item-href--ok {
  width: 14px;
  height: 22px;
}
.iann {
  height: calc(100vh - 110px);
  min-height: 650px;
}
.iann .swiper-container {
  height: 100%;
}
.iann .swiper-ind {
  display: flex;
  align-items: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 40px;
  user-select: none;
  z-index: 2;
}
.iann .swiper-ind-number {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}
.iann .swiper-ind-number--prev {
  color: #076af2;
}
.iann .swiper-ind-number--next {
  color: #1d1f20;
}
.iann .swiper-ind-line {
  position: relative;
  background-color: #fff;
  width: 444px;
  height: 2px;
  flex-shrink: 0;
  margin: 0 20px;
}
.iann .swiper-ind-line span {
  display: block;
  height: 2px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #076af2;
  transition: width 7s;
}
.iann .swiper-nav {
  display: flex;
  align-items: center;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
  user-select: none;
  justify-content: flex-end;
  width: 393px;
}
.iann .swiper-count {
  display: flex;
  align-items: flex-start;
}
.iann .swiper-count-item {
  color: #076af2;
  font-size: 60px;
  line-height: 52px;
  font-weight: 400;
  text-transform: uppercase;
}
.iann .swiper-count-all {
  position: relative;
  color: rgba(0,0,0,0.2);
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
  margin-left: 10px;
  min-width: 26px;
}
.iann .swiper-count-all:before {
  content: '/';
  display: block;
  position: absolute;
  left: -10px;
  width: 10px;
  height: 22px;
  color: rgba(0,0,0,0.2);
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-transform: uppercase;
}
.iann__content {
  display: flex;
  height: 100%;
  padding-left: 105px;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.iann__content-title {
  color: #1d1f20;
  font-size: 60px;
  font-weight: 500;
  line-height: 60px;
  margin-bottom: 15px;
}
.iann__content-text {
  color: #1d1f20;
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
}
.iann__content-href {
  margin-top: 60px;
  padding: 33px 72px;
}
.iserv {
  margin-bottom: 60px;
}
.iserv__title {
  margin-bottom: 45px;
}
.iserv__row {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 28px);
  margin: 0 -14px;
}
.iserv__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  background-color: #fff;
  border: 2px solid #f5f5f5;
  border-radius: 1px;
  width: calc(100% / 6 - 28px);
  padding: 30px 60px 30px 30px;
  margin: 0 14px 28px;
  transition: background 0.4s, border 0.4s;
  z-index: 1;
}
.iserv__item:after {
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #076af2;
  transition: width 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: -1;
}
.iserv__item:hover {
  border-color: #076af2;
}
.iserv__item:hover:after {
  width: 100%;
}
.iserv__item:hover .iserv__item-title {
  color: #fff;
}
.iserv__item:hover .iserv__item-ico {
  filter: brightness(0) invert(1);
}
.iserv__item-overico {
  display: inline-flex;
  margin-bottom: 25px;
}
.iserv__item-title {
  color: #1d1f20;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  transition: color 0.4s;
}
.idealer {
  margin: 0 auto;
}
.idealer .swiper-slide {
  height: auto;
  align-items: stretch;
}
.idealer__item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 2px solid #f5f5f5;
  border-radius: 3px;
  padding: 30px;
  height: 100%;
  user-select: none;
  cursor: pointer;
}
.idealer__item-img {
  max-width: 90%;
  max-height: 90%;
  filter: grayscale(100%);
  opacity: 0.7;
  transition: filter 0.4s, opacity 0.4s;
}
.idealer__item:hover .idealer__item-img {
  opacity: 1;
  filter: grayscale(0%);
}
.inews {
  margin-bottom: 60px;
}
.inews__top {
  display: flex;
  align-items: flex-start;
  margin-bottom: 42px;
}
.inews__top-right {
  display: flex;
  flex-shrink: 0;
  margin-left: auto;
}
.inews__title {
  margin-top: 13px;
  max-width: calc(100% - 700px);
  margin-bottom: 0;
}
.inews__all-href,
.inews__subscr-href {
  min-width: 300px;
  text-align: center;
  flex-shrink: 0;
  padding: 33px 41px 27px;
}
.inews__all-href {
  transition: color 0.4s, border 0.4s;
  border: 3px solid #f1f7ff;
}
.inews__all-href:hover {
  border-color: #076af2;
}
.inews__subscr-href {
  margin-left: 28px;
}
.publ {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% + 28px);
  margin: 0 -14px;
}
.publ__item {
  width: calc(25% - 28px);
  margin: 0 14px 28px;
}
.publ__item:hover .publ__item-cover:before {
  width: 100%;
}
.publ__item:hover .publ__item-cover:after {
  margin-left: 0;
  opacity: 1;
  visibility: visible;
}
.publ__item:hover .publ__item-title {
  color: #076af2;
  border-bottom-color: #c4dbfc;
}
.publ__item-cover {
  display: block;
  position: relative;
  width: 100%;
  padding-top: 67.67%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 25px;
  z-index: 1;
}
.publ__item-cover:before {
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: rgba(29,31,32,0.5);
  transition: width 0.4s;
  z-index: -1;
}
.publ__item-cover:after {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAJBAMAAADA7xF7AAAAMFBMVEUAAAAAQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ58B+wHKAAAAD3RSTlMAZvtW9erjxZlGOikVDd1W25euAAAAKUlEQVQI12OAgusCDDBwTBnO5A6awGAoCAH9Xgz/YeAfsihCLbIJCHMBfCAScro2ulMAAAAASUVORK5CYII=") no-repeat center #fff;
  margin-left: -24px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s, visibility 0.4s, margin 0.4s;
  z-index: 1;
}
.publ__item-title {
  color: #1d1f20;
  font-family: GothamPro;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  border-bottom: 1px solid transparent;
  transition: border 0.4s, color 0.4s;
}
.publ__item-date {
  display: block;
  color: rgba(29,31,32,0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  margin-top: 20px;
}
.publ__item-text {
  opacity: 0.86;
  color: rgba(29,31,32,0.86);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 30px;
}
.iabout__title {
  margin-bottom: 50px;
}
.iabout__row {
  display: flex;
  flex-wrap: wrap;
}
.iabout__left {
  width: 340px;
  border: 14px solid #f1f7ff;
  padding: 62px 42px 65px 36px;
  flex-shrink: 0;
  margin-right: 92px;
}
.iabout__left-year {
  position: relative;
  color: #076af2;
  font-size: 150px;
  line-height: 114px;
  font-weight: 700;
}
.iabout__left-year span {
  display: block;
  transform-origin: right bottom;
  white-space: nowrap;
  transform: rotate(-90deg);
  position: absolute;
  right: -3px;
  top: -47px;
  color: #076af2;
  font-size: 60px;
  line-height: 52px;
  font-weight: 700;
}
.iabout__left-text {
  color: #1d1f20;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.025em;
  margin-top: 56px;
}
.iabout__descr {
  width: 32%;
  margin-top: 34px;
  margin-right: 98px;
}
.iabout__descr .text {
  color: #1d1f20;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.iabout__descr .text p {
  color: #1d1f20;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.02em;
}
.iabout__descr .text p + p {
  margin-top: 24px;
}
.iabout__right {
  width: 34%;
  margin-top: 36px;
}
.iabout__task {
  opacity: 0.5;
  color: #1d1f20;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.02em;
}
.iabout__task + .btn {
  margin-top: 45px;
}
.igall {
  margin-bottom: 150px;
}
.igall .swiper-slide {
  width: auto;
}
.igall .swiper-slide-active .igall__overimg:before {
  width: 0;
}
.igall__overimg {
  display: inline-block;
  vertical-align: top;
  width: calc(100vw - 607px);
  position: relative;
  z-index: 1;
}
.igall__overimg:before {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(29,31,32,0.5);
  transition: width 0.4s;
  z-index: 1;
}
.igall__img {
  width: 100%;
  padding-top: 57.731%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.igall .swiper-buttons {
  background-color: #fff;
  position: absolute;
  z-index: 1;
  left: calc(100vw - 857px);
  bottom: 0;
}
.irev {
  margin-bottom: 150px;
}
.irev .swiper-buttons {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
.irev__row {
  position: relative;
  display: flex;
}
.irev__decor {
  width: 32%;
  margin-right: -7%;
}
.irev__decor-item {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.irev__right {
  width: 74%;
  z-index: 2;
}
.irev__top {
  display: flex;
}
.irev__title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 11.6%;
  margin: 0;
  max-width: 505px;
}
.irev__write-href {
  margin-left: auto;
}
.irev__carousel {
  background-color: #19459b;
  padding: 100px 20%;
}
