//@import 'libs/jq-select.styl'

@import 'partials/header.styl'
@import 'partials/footer.styl'
@import 'partials/main.styl'

@import 'blocks/common.styl'
@import 'blocks/buttons.styl'

@import 'blocks/nav.styl'
@import 'blocks/social.styl'
@import 'blocks/iann.styl'
@import 'blocks/iserv.styl'
@import 'blocks/idealer.styl'
@import 'blocks/inews.styl'
@import 'blocks/publ.styl'
@import 'blocks/iabout.styl'
@import 'blocks/igall.styl'
@import 'blocks/irev.styl'

// @import 'blocks/form.styl'
// @import 'blocks/checkbox.styl'
// @import 'blocks/popup.styl'

// @import 'blocks/breads.styl'
