//@import 'libs/jq-select.styl'
@import 'blocks/tippy.styl'

@import 'libs/choices.styl'

@import 'partials/header.styl'
@import 'partials/footer.styl'
@import 'partials/main.styl'

@import 'blocks/common.styl'
@import 'blocks/breads.styl'
@import 'blocks/buttons.styl'
@import 'blocks/wis-content.styl'
@import 'blocks/pagination.styl'

@import 'blocks/select.styl'

@import 'blocks/nav.styl'
@import 'blocks/social.styl'
@import 'blocks/iann.styl'
@import 'blocks/iserv.styl'
@import 'blocks/isel.styl'
@import 'blocks/idealer.styl'
@import 'blocks/action.styl'
@import 'blocks/inews.styl'
@import 'blocks/publ.styl'
@import 'blocks/igall.styl'
@import 'blocks/irev.styl'
@import 'blocks/iabout.styl'
@import 'blocks/archive.styl'
@import 'blocks/section-top.styl'
@import 'blocks/date.styl'
@import 'blocks/eror-page.styl'
@import 'blocks/map-site.styl'
@import 'blocks/publications.styl'

// @import 'blocks/form.styl'
// @import 'blocks/checkbox.styl'
// @import 'blocks/popup.styl'
