mixin idealer(data)
  +b('section').idealer&attributes(attributes)
    .container
      +e('h2').title.title Мы — официальный дилер
      .swiper-container.js-idealer-swiper
        .swiper-wrapper
          .swiper-slide
            +e.item.js-tippy(title="Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий позволяет оценить значение форм развития. С другой стороны укрепление и развитие структуры в значительной степени обуславливает создание модели развития. Не следует, однако забывать, что укрепление и развитие структуры.")
              +e('img')(src="static/img/dealer.png" alt="").item-img
          .swiper-slide
            +e.item.js-tippy(title="Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий позволяет оценить значение форм развития. С другой стороны укрепление и развитие структуры в значительной степени обуславливает создание модели развития. Не следует, однако забывать, что укрепление и развитие структуры.")
              +e('img')(src="static/img/dealer2.png" alt="").item-img
          .swiper-slide
            +e.item.js-tippy(title="Значимость этих проблем настолько очевидна")
              +e('img')(src="static/img/dealer3.png" alt="").item-img
          .swiper-slide
            +e.item.js-tippy(title="Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий позволяет оценить значение форм развития. С другой стороны укрепление и развитие структуры в значительной степени обуславливает создание модели развития. Не следует, однако забывать, что укрепление и развитие структуры.")
              +e('img')(src="static/img/dealer4.png" alt="").item-img
          .swiper-slide
            +e.item.js-tippy(title="Значимость этих проблем настолько очевидна")
              +e('img')(src="static/img/dealer5.png" alt="").item-img
