mixin irev(data)
  +b('section').irev&attributes(attributes)
    .container
      +e.row
        +e.decor
          +e.decor-item(style="background-image: url('static/img/irev-decor.jpg');")

        +e.right
          +e.top
            +e('h2').title.title.--white Отзывы наших довольных клиентов
            +e('a')(href="#").write-href.btn.--light Оставить отзыв

          +e.carousel
            +e('time').date
              +e('span').date-day 28
              +e('span').date-moth сентябрь
              +e('span').date-year 2018

            .swiper-container.js-irev-swiper
              .swiper-ind
                .swiper-ind-number.swiper-ind-number--prev 01
                .swiper-ind-line
                  span(style="width: 35%")
                .swiper-ind-number.swiper-ind-number--next 02
              .swiper-wrapper
                .swiper-slide
                  +e.item
                    +e.item-top
                      +e.item-overimg
                        +e('img')(src="static/img/rev-img.jpg" alt="").item-img
                      +e.item-top-right
                        +e('p').item-author Сергей Петрович Сидоров
                        +e('p').item-company ООО «Шустрые перевозки»
                    +e('p').item-text Идейные соображения высшего порядка, а также сложившаяся структура организации влечет за собой процесс внедрения и модернизации соответствующий условий активизации. С другой стороны укрепление и развитие структуры позволяет оценить значение новых предложений. Задача организации, в особенности же консультация с широким активом способствует подготовки и реализации форм развития. Товарищи! постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки систем массового участия. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации форм развития.
                    +e('a')(href="#").item-read-href.btn.--blue-border Читать весь отзыв
                .swiper-slide
                  +e.item
                    +e.item-top
                      +e.item-overimg
                        +e('img')(src="static/img/rev-img.jpg" alt="").item-img
                      +e.item-top-right
                        +e('p').item-author Сергей Петрович Сидоров
                        +e('p').item-company ООО «Шустрые перевозки»
                    +e('p').item-text Идейные соображения высшего порядка, а также сложившаяся структура организации влечет за собой процесс внедрения и модернизации соответствующий условий активизации. С другой стороны укрепление и развитие структуры позволяет оценить значение новых предложений. Задача организации, в особенности же консультация с широким активом способствует подготовки и реализации форм развития. Товарищи! постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки систем массового участия. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации форм развития.
                .swiper-slide
                  +e.item
                    +e('p').item-company ООО «Шустрые перевозки»
                    +e('p').item-text Идейные соображения высшего порядка, а также сложившаяся структура организации влечет за собой процесс внедрения и модернизации соответствующий условий активизации.

            .swiper-buttons
              .swiper-button-prev
              .swiper-button-next
