mixin nav(data)
  +b('nav').nav&attributes(attributes)
    +e('ul').list
      +e('li').list-item.--logo
        +e('a')(href="#").list-href
          +e('img')(src="./static/img/logo-white-min.png" alt="").list-img
      each item in data
        +e('li').list-item
          +e('a')(href="#").list-href
            +e('span').list-href-overico
              case item.ico
                when 'menu-ico2'
                  include ../../../../prod/static/img/svg/menu/menu-ico2.svg
                when 'menu-ico3'
                  include ../../../../prod/static/img/svg/menu/menu-ico3.svg
                when 'menu-ico4'
                  include ../../../../prod/static/img/svg/menu/menu-ico4.svg
                when 'menu-ico5'
                  include ../../../../prod/static/img/svg/menu/menu-ico5.svg
                when 'menu-ico6'
                  include ../../../../prod/static/img/svg/menu/menu-ico6.svg
                when 'menu-ico7'
                  include ../../../../prod/static/img/svg/menu/menu-ico7.svg
                default
                  include ../../../../prod/static/img/svg/menu/menu-ico.svg
            +e('span').list-href-text #{item.text}

          if (item.sublist)
            +e.submenu
              +e('a').submenu-top
                +e('img')(src="./static/img/logo-white.png" alt="").submenu-top-img
              +e('ul').sublist
                each item2 in item.sublist
                  +e('li').subitem
                    +e('a').subhref(href="#" class=item2.active ? '--active' : '') #{item2.subItem}
