mixin services(data)
  +e.row
    each item in data
      +e('a')(href="#").item
        +e('span').item-overico
          +e('img')(src=item.ico alt="").item-ico
        +e('span').item-title !{item.title}
