mixin services(data)
  +e('ul').list
    each item in data
      +e('li').list-item
        +e.list-item-overico
          +e('img')(src=item.ico alt="").list-item-ico
        +e('p').title !{item.title}
