+nav([
  {
    ico:'menu-ico', 
    text: 'Авто',
    sublist: [
      {subItem: 'Легкие коммерческие автомобили'},
      {subItem: 'Среднетоннажные автомобили'},
      {subItem: 'Грузовые автомобили'},
      {subItem: 'Автобусы'},
      {subItem: 'Техника с ГБО'}
    ]
  },
  {ico:'menu-ico2', text: 'Сервис'},
  {ico:'menu-ico3', text: 'Запчасти'},
  {
    ico:'menu-ico4', 
    text: 'Услуги',
    sublist: [
      { subItem: 'Подбор нового авто' },
      {subItem: 'Подбор авто с пробегом'},
      {subItem: 'Подбор спецтехники'},
      {subItem: 'Страхование', active: true},
      {subItem: 'Кредит'},
      {subItem: 'Лизинг'},
      {subItem: 'Сервис'},
      {subItem: 'Покупка запасных частей'},
      {subItem: 'Trade-in'},
      {subItem: 'Тест-драйв'},
      {subItem: 'Test-truck'}
    ]
  },
  {ico:'menu-ico5', text: 'Акции'},
  {ico:'menu-ico6', text: 'Контакты'},
  {ico:'menu-ico7', text: 'О компании'}
])
