+b('nav').pagination
  +e('ul').list
    +e('li').list-item.--prev
        +e('a')(href="#").list-item-href Назад
    +e('li').list-item
        +e('a')(href="#").list-item-href 01
    +e('li').list-item
        +e('a')(href="#").list-item-href.--active 02
    +e('li').list-item
        +e('a')(href="#").list-item-href 03
    +e('li').list-item
        +e('span').list-item-delim ...
    +e('li').list-item
        +e('a')(href="#").list-item-href 24
    +e('li').list-item
        +e('a')(href="#").list-item-href 25
    +e('li').list-item
        +e('a')(href="#").list-item-href 26
    +e('li').list-item.--next
        +e('a')(href="#").list-item-href Вперед
