block variables

include ../bemto/bemto.pug
include ../__mixins.pug

doctype html
html(lang="ru")
  block head
    include ../partials/head

  body
    .wrapper(class=wrapperClass ? wrapperClass : '')
      block header
        include ../partials/header

      main.main
        include ../blocks/aside

        .main__content
          .container
            +breads(breadsData)

            h1.main__title #{title}

            .main__row
              .main__left
                block main

              aside.main__right(class=asideRightClass ? asideRightClass : '')
                block aside

      block footer
        include ../partials/footer

    block hiddens
      .hidden-block
        include ../__popups
        
    block scripts
      include ../partials/scripts
