extends includes/template/base.pug

block variables
  - var title = "Финальные цены на ГАЗель Next в наличии!";
  - var tmpsrc = 'static/img/';

block main

  +breads(['Главная', 'Второй уровень', 'Здесь будет большой заголовок первого уровня возможно в две строки'])
  
  +b('section').section-top
    +content([
      {cover: tmpsrc+'top-cover.jpg', date: 'до <span class="date-day">28</span><span>Сентябрь</span><span>2018</span>'}
    ])

  .container
    h1.main__title.main__title--center #{title}
    .main__center
      .wis-content
        p Идейные соображения высшего порядка, а также консультация с широким активом в значительной степени обуславливает создание дальнейших направлений развития. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа модели развития. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции способствует подготовки и реализации форм развития. 

        p С другой стороны реализация намеченных плановых заданий требуют от нас анализа систем массового участия. Задача организации, в особенности же сложившаяся структура организации требуют определения и уточнения новых предложений. Задача организации, в особенности же постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке соответствующий условий активизации.

        p Значимость этих проблем настолько очевидна, что консультация с широким активом представляет собой интересный эксперимент проверки новых предложений. Идейные соображения высшего порядка, а также рамки и место обучения кадров требуют от нас анализа модели развития. Повседневная практика показывает, что дальнейшее развитие различных форм деятельности влечет за собой процесс внедрения и модернизации новых предложений.

    .main__bottom
      a(href="#").main__page-nav.main__page-nav--prev Предыдущая новость
      a(href="#").main__href.btn.btn--light Вернуться к списку новостей
      a(href="#").main__href.btn.btn--light Подписаться на рассылку
      a(href="#").main__page-nav.main__page-nav--next Следующая новость
