extends includes/template/base.pug

block variables
  - var title = "Услуги";
  - var tmpsrc = 'static/img/';

block main

  +breads(['Главная', 'Услуги'])
  
  .container

    h1.main__title #{title}

    +b('section').services
      +e.groups
        +e.group
          +e('h4').group-title Подбор автомобилей
          +services([
            { ico:'static/img/serv-ico/serv-ico4.png', title: 'Новые'},
            { ico:'static/img/serv-ico/serv-ico6.png', title: 'С пробегом'},
            { ico:'static/img/serv-ico/serv-ico4.png', title: 'Спецтехника'},
            { ico:'static/img/serv-ico/serv-ico6.png', title: 'Тест-трак'},
            { ico:'static/img/serv-ico/serv-ico6.png', title: 'Trade-in'},
            { ico:'static/img/serv-ico/serv-ico.png', title: 'Лизинг'}
          ])
        +e.group
          +e('h4').group-title Финансовые услуги
          +services([
            { ico:'static/img/serv-ico/serv-ico9.png', title: 'Страхование'},
            { ico:'static/img/serv-ico/serv-ico2.png', title: 'Кредит'}
          ])
        +e.group
          +e('h4').group-title Сервис и обслуживание
          +services([
            { ico:'static/img/serv-ico/serv-ico8.png', title: 'Сервис'},
            { ico:'static/img/serv-ico/serv-ico10.png', title: 'Покупка <br>запчастей'}
          ])

    +b('section').irev
      +e.row
        +e.decor
          +e.decor-item(style="background-image: url('static/img/irev-decor.jpg');")

        +e.right
          +e.top
            +e('h2').title.title.--white Отзывы наших довольных клиентов
            +e('a')(href="#").write-href.btn.--light Оставить отзыв

          +e.carousel
            +e('time').date.date
              +e('span').date-day 28
              +e('span') сентябрь
              +e('span') 2018

            .swiper-container.js-irev-swiper
              .swiper-ind
                .swiper-ind-number.swiper-ind-number--prev 01
                .swiper-ind-line
                  span(style="width: 35%")
                .swiper-ind-number.swiper-ind-number--next 02
              .swiper-wrapper
                .swiper-slide(data-date='<span class="date-day">28</span><span>Сентябрь</span>2018<span></span>')
                  +e.item
                    +e.item-top
                      +e.item-overimg
                        +e('img')(src="static/img/rev-img.jpg" alt="").item-img
                      +e.item-top-right
                        +e('p').item-author Сергей Петрович Сидоров
                        +e('p').item-company ООО «Шустрые перевозки»
                    +e('p').item-text Идейные соображения высшего порядка, а также сложившаяся структура организации влечет за собой процесс внедрения и модернизации соответствующий условий активизации. С другой стороны укрепление и развитие структуры позволяет оценить значение новых предложений. Задача организации, в особенности же консультация с широким активом способствует подготовки и реализации форм развития. Товарищи! постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки систем массового участия. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации форм развития.
                    +e('a')(href="#").item-read-href.btn.--blue-border Читать весь отзыв
                .swiper-slide(data-date='<span class="date-day">27</span><span>Сентябрь</span>2018<span></span>')
                  +e.item
                    +e.item-top
                      +e.item-overimg
                        +e('img')(src="static/img/rev-img.jpg" alt="").item-img
                      +e.item-top-right
                        +e('p').item-author Сергей Петрович Сидоров
                        +e('p').item-company ООО «Шустрые перевозки»
                    +e('p').item-text Идейные соображения высшего порядка, а также сложившаяся структура организации влечет за собой процесс внедрения и модернизации соответствующий условий активизации. С другой стороны укрепление и развитие структуры позволяет оценить значение новых предложений. Задача организации, в особенности же консультация с широким активом способствует подготовки и реализации форм развития. Товарищи! постоянный количественный рост и сфера нашей активности представляет собой интересный эксперимент проверки систем массового участия. С другой стороны рамки и место обучения кадров влечет за собой процесс внедрения и модернизации форм развития.
                .swiper-slide(data-date='<span class="date-day">26</span><span>Сентябрь</span>2018<span></span>')
                  +e.item
                    +e('p').item-company ООО «Шустрые перевозки»
                    +e('p').item-text Идейные соображения высшего порядка, а также сложившаяся структура организации влечет за собой процесс внедрения и модернизации соответствующий условий активизации.

            .swiper-buttons
              .swiper-button-prev
              .swiper-button-next
