extends includes/template/base.pug

block variables
  - var title = "Санкт-Петербургский международный автосалон";
  - var tmpsrc = 'static/img/';

block main

  +breads(['Главная', 'О компании', 'Галерея мероприятий', 'Санкт-Петербургский международный автосалон'])
  
  +b('section').section-top
    +content([
      {cover: tmpsrc+'top-cover.jpg', date: '<span class="date-day">26</span><span>Март</span><span>2018</span>'}
    ])

  .container
    h1.main__title.main__title--center #{title}
    .main__center
      .wis-content
        p Идейные соображения высшего порядка, а также консультация с широким активом в значительной степени обуславливает создание дальнейших направлений развития. Значимость этих проблем настолько очевидна, что консультация с широким активом требуют от нас анализа модели развития. Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции способствует подготовки и реализации форм развития. 

        .wis-content__row
          .wis-content__col
            p Таким образом дальнейшее развитие различных форм деятельности требуют от нас анализа системы обучения кадров, соответствует насущным потребностям. С другой стороны постоянный количественный рост и сфера нашей активности в значительной степени обуславливает создание позиций, занимаемых участниками в отношении поставленных задач. Товарищи! реализация намеченных плановых заданий способствует подготовки и реализации систем массового участия.
          .wis-content__col
            img(src=tmpsrc+"img3.jpg" alt="")
        .wis-content__row.wis-content__row--mirror
          .wis-content__col
            p Разнообразный и богатый опыт постоянное информационно-пропагандистское обеспечение нашей деятельности способствует подготовки и реализации существенных финансовых и административных условий. Идейные соображения высшего порядка, а также реализация намеченных плановых заданий требуют определения и уточнения форм развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации новых предложений.
          .wis-content__col
            img(src=tmpsrc+"img4.jpg" alt="")

    .main__bottom
      a(href="#").main__page-nav.main__page-nav--prev Предыдущее мероприятие
      a(href="#").main__href.btn.btn--light Вернуться к списку новостей
      a(href="#").main__href.btn.btn--light Подписаться на рассылку
      a(href="#").main__page-nav.main__page-nav--next Следующее мероприятие
