.about
  margin-bottom 141px
  padding-top 7px
  @media $bigDesktopMax
    margin-bottom 92px
  &:last-child
    margin-bottom 0
  &__row
    display flex
    flex-wrap wrap
    justify-content space-between
    align-items center
    @media $tPortraitMax
      align-items flex-start
  &__col
    width calc(50% - 15px)
    @media $tPortraitMax
      width 100%
    &:first-child
      padding-right 115px
      padding-bottom 30px
      @media $bigDesktopMax
        padding-bottom 0
      @media $tPortraitMax
        padding-right 0
        padding-bottom 40px
  &__blockqoute
    display flex
    align-items center
    position relative
    min-height 80px
    padding-left 34px
    color #076af2
    font-size 18px
    font-weight 500
    line-height 24px
    font-style italic
    margin-top -85px
    margin-bottom 44px
    letter-spacing .025em
    z-index 1
    @media $bigDesktopMax
      font-size 14px
      margin-top 0
      margin-bottom 24px
      padding-left 25px
    &:before
      @extend .before
      left 0
      top 0
      width 110px
      height 83px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAG4AAABTCAMAAABJYcK6AAAAeFBMVEUAAADv9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//v9//xlGVOAAAAJ3RSTlMAoFAwQLBggJAf6oT3uQNSqcm1YxuWDisu23XYxZLfenI+iWtHEjsJfmzEAAABgklEQVRo3u2a3U6DQBBGhy20AsXKT0XFQi20vv8bekFMNjLLzERKsc53uenkJCend0DuyRaCtVB4nIP3KdvKxq2Ex57iFCfENYZa6sal5HHzA+cDtcCNC8hjv//hg+IUpzjFKU5xilOc4hSnuKvjynlxoeL+Oc7bILswcRV23Dpw7hka514gxhW/wW2kuAjsZUJcB9Y6Bi4DezWG46pp+rfTGC62D8792/YRwdFqnvrH9RjOIPbfYYATqCnhsh5ui+h4698OYO+MHCeEmsHCUR3UEkRNZ6kZbIfpeP3WQS1yl3JAD06IjmdMxzRqEmYpfDX1mJqIWQpfzbyl+LOVQquJF1NKijNoNXQpIaJjT+LiKUvJr1ZKgul4uZdSdjcs5fj3Skn5pVR0KfSfaN5ScnYpH4gO+Z/oXkrhqzGTl3JcUCnZ5KVUyymluEkplbFXC0tp7eM9WQo+upQCvSNLwUeXYtA7opThiFLEauQ6plFjuJ8D8NUsqJTWcy4GaiXjG54v47fEeaORTywAAAAASUVORK5CYII=') no-repeat center
      z-index -1
      background-size cover
      @media $bigDesktopMax
        width 82px
        height 62px
        top 9px
    &:last-child
      margin-bottom 0
  //&__text
  &__right-over
    position relative
  &__cover
    width 100%
    padding-top 71.724%
    background-size cover
    background-position 50% 50%
    background-repeat no-repeat
    @media $bigDesktopMax
      padding-top 67.857%
    @media $tPortraitMax
      width 100%
  &__gallery-href
    position absolute
    right 0
    bottom 0
    z-index 1
    @media $tPortraitMax
      right 0
