.action
  margin-bottom 144px

  @media $bigDesktopMax
    margin-bottom 96px

  &__row
    display flex
    flex-wrap wrap
    align-items flex-start

  &__left
    width 352px
    flex-shrink 0
    background-color #f1f7ff
    padding 42px 50px 47px
    margin-right 78px
    margin-top 127px

    @media $bigDesktopMax
      width 262px
      margin-right 59px
      margin-top 95px
      padding 30px 37px 33px

    .swiper-buttons
      margin-top 66px

      @media $bigDesktopMax
        margin-top 28px

      @media $minDesktopMax
        margin-top 0

      @media $minDesktopMax
        box-shadow inset 0 0 0 3px #f1f7ff
        position absolute
        bottom 0
        right 266px

        .swiper-button-prev, .swiper-button-next
          height 64px

      @media $tPortraitMax
        position relative
        bottom auto
        right auto
        margin-top 40px

    @media $minDesktopMax
      position relative
      width 100%
      margin 0
      padding 0
      background none

  &__title
    letter-spacing normal
    margin-bottom 45px

    @media $bigDesktopMax
      margin-bottom 30px

    @media $minDesktopMax
      margin-bottom 0

  &__select-wrap
    margin-left auto
    & + .action__subscr-href
      margin-left 8px

  &__text
    color rgba($color, .86)
    font-size 14px
    font-weight 400
    line-height 21px
    letter-spacing 0.02em

    @media $bigDesktopMax
      font-size 13px

    @media $minDesktopMax
      display none

  &__right
    width calc(100% - 440px)

    @media $bigDesktopMax
      width calc(100% - 321px)

    @media $minDesktopMax
      width 100%
      margin-top -64px

    @media $tPortraitMax
      margin-top -67px

  &__top
    display flex
    flex-wrap wrap
    align-items center
    margin-bottom 42px

    @media $bigDesktopMax
      margin-bottom 31px

  &__filter
    &-nav
      display flex
      flex-wrap wrap
      max-width calc(100% - 355px)
      margin-bottom -20px

      @media $desktopMax
        max-width calc(100% - 260px)
        width 100%

      @media $minDesktopMax
        max-width 100%
        order 2
        margin-top 20px

      &-item
        margin-right 65px
        margin-bottom 20px

        @media $bigDesktopMax
          margin-right 49px

        @media $desktopMax
          margin-right 30px

        &:last-child
          margin-right 0

      &-btn
        position relative
        font-size 13px
        font-weight 500
        line-height 20px
        text-transform uppercase
        color #a7a7a7
        padding 10px 0
        background none
        outline none
        user-select none
        border none
        transition color .4s

        @media $bigDesktopMax
          font-size 10px
          line-height 14px

        &:after
          @extend .after
          left 0
          bottom 0
          width 0
          height 3px
          background-color $blueLight
          transition width .4s

        &:hover, &--active
          color $blueLight

        &--active
          &:after
            width 27px

    &-carousel
      .publ
        width 100%
        margin 0

  &__subscr-href
    margin-left auto

    @media $minDesktopMax
      order 1

    @media $tPortraitMax
      margin-left 220px

  &--inner
    margin-bottom 142px
    @media $desktopMax1440
      margin-bottom 95px

    .action
      &__title
        margin-bottom -38px
        font-size 40px
        @media $bigDesktopMax
          margin-bottom -27px
          font-size 28px
        @media $desktopMax
          margin-bottom 0
        @media $tPortraitMax
          margin-bottom 40px

      &__filter-nav
        @media $desktopMax
          order 4
          max-width 100%
          width 100%
          margin-top 20px

      &__top
        width 100%
        margin-bottom 64px
        @media $bigDesktopMax
          margin-bottom 47px

        &-left
          margin-right auto
          @media $tPortraitMax
            width 100%

      &__select-wrap
        @media $tPortraitMax
          margin-left 0

      &__filter-carousel
        position relative
        width 100%
        padding 0 143px
        @media $bigDesktopMax
          padding 0 107px

    .swiper-button
      &-prev, &-next
        width 96px
        height 96px
        position absolute
        top 50%
        transform translateY(-50%)
        background-color #f1f7ff
        z-index 1
        @media $desktopMax1440
          width 64px
          height 64px

      &-prev
        left 0

      &-next
        right 0

        &:after
          content none
          display none
