.breadcrumbs
  background-color #1d1f20
  padding 39px 0 34px
  margin-bottom 52px
  @media $desktopMax1440
    padding 28px 0 25px
    margin-bottom 40px

  @media $mPortraitMax
    display none

  // & + .container
  //   margin-top 72px
  //   @media $desktopMax1440
  //     margin-top 53px

  &__list
    display flex
    flex-wrap wrap

  &__item
    position relative
    margin-right 35px
    @media $desktopMax1440
      margin-right 33px

    &:last-child
      &:before
        display none
        content none

    &:before
      content ''
      display block
      position absolute
      right -22px
      top 7px
      width 12px
      height 2px
      background-color $blueLight

  &__link
    display block
    color #737374
    font-size 12px
    line-height 15px
    letter-spacing 0.015em
    @media $desktopMax1440
      font-size 11px

    &[href]
      color #dfdfdf
      transition color .4s

    &:hover
      &[href]
        color $blueLight
