.calc
  width 100%
  max-width 833px
  margin 80px auto 100px
  background-color #f1f7ff
  @media $desktopMax1440
    max-width 614px
    margin-top 55px
  @media $mLandscapeMax
    max-width 100%
  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0
  &__tabs
    &-nav
      display flex
      flex-wrap wrap
      &-item
        width 50%
        @media $mPortraitMax
          width 100%
      &-btn
        display block
        width 100%
        background-color #f1f7ff
        text-align center
        color $blueLight
        font-family GothamPro
        font-size 13px
        font-weight 500
        line-height 20px
        text-align center
        text-transform uppercase
        white-space nowrap
        padding 34px 60px 32px
        letter-spacing 0.025em
        background-color #fff
        border none
        outline none
        transition background .4s, color .4s
        user-select none
        z-index 1
        @media $desktopMax1440
          padding 22px 30px
          font-size 11px
        @media $mLandscapeMax
          padding 22px 0
        &--active
          color #fff
          background-color $blueLight
          pointer-events none
    &-list
      position relative
    &-item
      display none
      &--active
        display block
  &__content
    padding 30px 30px 0
    @media $desktopMax1440
      padding 20px 20px 0
  &__car
    display flex
    flex-wrap wrap
    justify-content space-between
    margin-bottom 33px
    @media $desktopMax1440
      margin-bottom 23px
    &-letf, &-right
      width calc(50% - 3.5px)
      @media $mLandscapeMax
        width 100%
    &-right
      @media $mLandscapeMax
        margin-top 7px
    &-overimg
      display flex
      align-items center
      width 100%
      height 100%
      justify-content center
      background-color #fff
    &-img
      max-height 100%
      height auto
    &-price
      width 100%
      margin-top 38px
      @media $desktopMax1440
        margin-top 19px
      &-title
        width 100%
        color rgba($color, .86)
        font-size 14px
        font-weight 400
        margin-bottom 4px
        @media $desktopMax1440
          font-size 12px
          margin-bottom 7px
      &-field
        display inline-block
        vertical-align top
        position relative
      &-input
        display inline-block
        vertical-align top
        width 200px
        height 35px
        color $blueLight
        font-family GothamPro
        font-size 30px
        font-weight 500
        padding 0 45px 0 0
        border none
        border-bottom 3px dashed $blueLight
        background none
        outline none
        @media $desktopMax1440
          font-size 22px
          height 25px
          border-width 1px
          width 148px
          padding-right 35px
  &__item
    &-row
      display flex
      flex-wrap wrap
      width 100%
      margin-bottom 34px
      @media $desktopMax1440
        margin-bottom 25px
      &:last-child
        margin-bottom 0
      &-left, &-right
        display flex
        flex-wrap wrap
        width calc(50% - 3.5px)
        @media $mLandscapeMax
          width 100%
      &-right
        display block
        padding-left 40px
        @media $mLandscapeMax
          padding-left 0
        .calc__item-calculated
          width 100%
          margin-right 0
      &-title
        width 100%
        color rgba($color, .86)
        font-size 14px
        font-weight 400
        margin-bottom 20px
        @media $desktopMax1440
          font-size 12px
          margin-bottom 14px
    &-radiobnts
      display flex
      width 100%
      justify-content space-between
      flex-wrap wrap
      @media $mPortraitMax
        flex-direction column
    &-radio
      position relative
      width calc(50% - 3.5px)
      @media $mPortraitMax
        width 100%
        margin-bottom 7px
      &-input
        position absolute
        left 0
        top 0
        opacity 0
        visibility hidden
        &:checked ~ label
          border-color $blueLight
          color $blueLight
          &:hover
            background-color #fff
            color $blueLight
      &-label
        width 100%
        display flex
        align-items center
        justify-content center
        height 86px
        background-color #fff
        border 3px dashed transparent
        color rgba($color, .8)
        font-family GothamPro
        font-size 13px
        font-weight 500
        line-height 20px
        text-transform uppercase
        letter-spacing .025em
        transition background .4s, border .4s, color .4s
        cursor pointer
        @media $desktopMax1440
          font-size 11px
          height 64px
        &:hover
          background-color $blueLight
          color #fff
    &-calculated
      min-width 70px
      margin-right 70px
      margin-bottom 27px
      @media $mLandscapeMax
        width 100%
        margin-right 0
      &-title
        opacity 0.86
        color $color
        font-family GothamPro
        font-size 14px
        font-weight 400
        margin-bottom 5px
        @media $desktopMax1440
          font-size 12px
          margin-bottom 14px
          margin-bottom 3px
      &-data
        color $color
        font-weight 500
        font-size 18px
        @media $desktopMax1440
          font-size 14px
        &--blue
          color $blueLight
        span
          font-size 30px
          @media $desktopMax1440
            font-size 22px

  .form
    &__row
      margin-bottom 7px
      &:last-child
        margin-bottom 0

  .range
    margin-top 30px
    @media $desktopMax1440
      margin-top 19px

  .rub
    position absolute
    right 0
    top 9px
    color $blueLight
    font-weight 500
    font-size 18px
    line-height 24px
    pointer-events none
    z-index 1
    @media $desktopMax1440
      font-size 13px
      top 4px
