.form
  &__row
    display flex
    flex-wrap wrap
    width calc(100% + 7px)
    margin 0 -3.5px 27px
    @media $bigDesktopMax
      margin-bottom 17px
    &:last-child
      margin-bottom 0
  &__field
    position relative
    width 100%
    margin 0 3.5px 7px
    &:last-child
      margin-bottom 0
    &--min
      width calc(100%/3 - 7px)
    &--center, &--min&--center
      margin 0 auto
    &--date
      &:after
        @extend .after
        right 36px
        top 50%
        transform translateY(-50%)
        width 16px
        height 16px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAP1BMVEUAavYAAAAAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavZ98jJgAAAAFHRSTlNwAD5PwOAYEWA3IPff3NqdX0QyCIcTQZwAAABiSURBVBjTdc1bDoAgDETRaVELPkG6/7VK0FRJ8Ga+TtIURHlfhUqy7pkIJKzq5pJTZSEkbUpAC+jB4ayjAsjCDawa6viFOoPJR/Feop8eCON41oXfE9j6b7fB2grwop8WvgC6zwntJFz7kQAAAABJRU5ErkJggg==') no-repeat center
        z-index 1
        pointer-events none
    &-input, &-textarea
      display block
      width 100%
      color $color
      font-family GothamPro
      font-size 15px
      line-height 24px
      font-weight 500
      padding 36px 40px 26px
      border 3px solid transparent
      background #fff
      outline none
      border none
      @media $bigDesktopMax
        font-size 14px
        line-height 18px
        padding 20px 30px 10px
      &:focus, &.no-empty
        & + .form__field-label
          top 15px
    &-input
      height 86px
      @media $bigDesktopMax
        height 64px
    &-textarea
      height 192px
      resize none
      @media $bigDesktopMax
        height 144px
    &-label
      position absolute
      left 40px
      top 36px
      display inline-block
      max-width calc(100% - 80px)
      font-family GothamPro
      color #a7a7a7
      font-size 13px
      font-weight 500
      line-height 20px
      text-transform uppercase
      pointer-events none
      transition top .4s
      @media $bigDesktopMax
        left 30px
        top 25px
        max-width calc(100% - 60px)
        font-size 11px
        line-height 15px
      span
        font-weight 700
    &-submit
      width 100%
    &-select--validate
      & + .choices__list
        .choices__placeholder
          display inline-block
          vertical-align top
          position relative
          padding-right 15px
          width auto
          max-width 100%
          &:after
            content '*'
            position absolute
            display inline-block
            vertical-align baseline
            right 0
            top 0
            color #f56767
            font-size 13px
            font-weight 700
  &__agreement, &__warning
    margin-left 3.5px
  &__agreement
    width 100%
    margin-bottom 25px
    color #a7a7a7
    letter-spacing .022em
    @media $bigDesktopMax
      font-size 11px
      line-height 15px
      margin-bottom 13px
    &:last-child
      margin-bottom 0
    a
      color $blueLight
      border-bottom 1px solid $blueLight
      transition border .4s
      &:hover
        border-bottom-color transparent
  &__warning
    color #525354
    letter-spacing .025em
    @media $bigDesktopMax
      font-size 11px
      line-height 15px
    span
      font-size 13px
      font-weight 700
      text-transform uppercase
      @media $bigDesktopMax
        font-size 11px
        line-height 15px

  .choices__inner
    background-color #fff
    max-width 100%
    min-width 100%
