.gallery-min
  position relative
  margin 77px 0 100px
  padding-bottom 146px
  @media $desktopMax1440
    margin 57px 0 100px
    padding-bottom 93px
  &:first-child
    margin-top 0
  &:last-child
    margin-bottom 0
  .swiper
    // &-container
    // &-wrapper
    &-buttons
      position absolute
      left 50%
      transform translateX(-50%)
      bottom 0
      width 190px
      @media $desktopMax1440
        width 126px
    &-button
      &-prev, &-next
        flex-shrink 0
        outline none
        width 96px
        height 96px
        border 3px solid #f1f7ff
        @media $desktopMax1440
          width 64px
          height 64px
        &:after
          display none
          content none
      &-prev
        left 0
      &-next
        right 0
        margin-left -2px
    &-slide
      width 494px
      @media $desktopMax1440
        width 360px
      @media (max-width: 555px)
        width calc(100vw - 60px)
      @media $mPortraitMax
        width calc(100vw - 30px)
      &-active
        .gallery-min__fakeimg
          opacity 1
  &__fakeimg
    display block
    padding-top 57.692%
    background-color #eaeaea
    background-repeat no-repeat
    background-position 50% 50%
    background-size cover
    opacity 1
    transition opacity .4s
    &:hover
      opacity .8

