.irev
  margin-bottom 150px

  .swiper-buttons
    position absolute
    right 0
    bottom 0
    z-index 2

  &__row
    position relative
    display flex

  &__decor
    width 32%
    margin-right -7%

    &-item
      position relative
      background-position center
      background-size cover
      background-repeat no-repeat
      width 100%
      height 100%
      z-index 1

  &__right
    width 74%
    z-index 2

  &__top
    display flex

  &__title
    position absolute
    top 50%
    transform translateY(-50%)
    left 11.6%
    margin 0
    max-width 505px

  &__write-href
    margin-left auto

  &__carousel
    background-color #19459b
    padding 100px 20%

