.nav
  position fixed
  left 0
  top 0
  width 96px
  height 100vh
  min-height 650px
  box-shadow -15px 0 56.4px 3.6px rgba(0, 0, 0, 0.08)
  z-index 999

  @media $bigDesktopMax
    width 84px

  @media $minDesktopMax
    position fixed
    left auto
    right -64px
    top 64px
    width 64px
    height calc(100vh - 64px)
    opacity 0
    visibility hidden
    transition right .4s cubic-bezier(0.645, 0.045, 0.355, 1), opacity .4s, visibility .4s
    min-height inherit

  &--show
    opacity 1
    right 0
    visibility visible

  &__list
    display flex
    flex-direction column
    justify-content space-between
    position relative
    height 100%
    z-index 1

    &-item
      flex-grow 1
      border-top 1px solid #f2f2f2
      background-color white

      &:hover
        .nav__submenu
          left 96px

          @media $bigDesktopMax
            left 84px

          @media $minDesktopMax
            left auto
            right 64px

      &--logo
        position relative
        flex-shrink 0
        flex-grow 0
        border-top none

        &:before
          content ""
          position absolute
          left 0
          bottom 0
          width 100%
          height 0
          background-color $blueLight
          transition .7s height
          /body.scrolled &
            height 100%

        @media $minDesktopMax
          display none

        .nav__list
          &-href
            position relative
            align-items flex-start
            justify-content center
            width 100%
            padding 0
            height 110px
            overflow hidden

            @media $bigDesktopMax
              height 82px

          &-img
            max-width none
            position relative
            left 20px
            width 53px
            height 53px
            flex-shrink 0
            opacity 0
            transition .7s .7s opacity

            /body.scrolled &
              opacity 1

            @media $bigDesktopMax
              left 19px
              width 46px
              height 46px

    &-href
      display flex
      flex-direction column
      justify-content center
      align-items center
      flex-grow 1
      height 100%
      padding 10px

      @media $desktopMax1440
        padding 5px 10px

      &-overico
        margin-bottom 14px

        @media $bigDesktopMax
          display flex
          justify-content center
          align-items center
          max-width 24px
          max-height 24px

        @media $desktopMax1440
          max-width 20px
          max-height 20px
          margin-bottom 10px

        svg
          fill #a7a7a7
          transition fill .4s

          max-width 100%
          max-height 100%

      &-text
        text-align center
        color #a7a7a7
        font-size 12px
        line-height 14px
        font-weight 500
        transition color .4s

        @media $bigDesktopMax
          font-size 10px
          line-height 12px

      &:hover
        .nav__list-href
          &-overico svg
            fill $blueLight

          &-text
            color $blueLight

  &__submenu
    position absolute
    width 400px
    height 100vh
    top 0
    left -304px
    background-color $color
    z-index -1
    transition left .4s cubic-bezier(0.645, 0.045, 0.355, 1), right .4s cubic-bezier(0.645, 0.045, 0.355, 1)

    @media $bigDesktopMax
      left -316px

    @media $minDesktopMax
      height calc(100vh - 64px)
      left auto
      right -336px

    @media $mPortraitMax
      width calc(100vw - 60px)
      right -100vw

    &-top
      display flex
      align-items center
      justify-content center
      width 100%
      height 110px
      // background-color $blueLight
      padding 0

      @media $bigDesktopMax
        height 82px

      @media $minDesktopMax
        display none

      &-img
        @media $bigDesktopMax
          height 46px

  &__sublist
    display flex
    flex-direction column
    counter-reset sublist
    padding 56px 49px
    width 100%
    height calc(100vh - 80px)
    overflow-x hidden
    overflow-y auto

    @media $desktopMax1440
      padding 46px 49px

    @media $minDesktopMax
      height calc(100vh - 64px)

    @media $mPortraitMax
      padding 36px 20px

  &__subitem
    margin-bottom 29px
    padding-left 34px
    @media $desktopMax1440
      margin-bottom 23px
    &:last-child
      margin-bottom 0

  &__subhref
    position relative
    font-size 15px
    font-weight 500
    line-height 19px
    color #dedede
    border-bottom 2px solid transparent
    letter-spacing .02em
    transition color .4s, border .4s

    &:before
      display inline-block
      counter-increment sublist
      content counter(sublist,  decimal-leading-zero) " "
      position absolute
      top 0
      left -34px
      color #e9eff7
      font-family "GothamPro"
      font-size 11px
      font-weight 500
      line-height 19px
      color #2c2f30
      transition color .4s

    &:hover, &--active
      color $blueLight

      &:before
        color #4b4b4b

    &--active
      border-color $blueLight
