.order-parts
  display flex
  flex-wrap wrap
  align-items flex-start
  justify-content space-between
  margin-bottom 89px
  @media $bigDesktopMax
    margin-bottom 54px
  &:last-child
    margin-bottom 0
  &__left
    width calc(100% - 100%/3 - 14px)
    @media $tPortraitMax
      width 100%
      margin-bottom 25px
  &__right
    @media $tPortraitMax
      width 100%
  &__download-price
    display flex
    align-items center
    position relative
    width 366px
    height 122px
    margin-left auto
    margin-top 8px
    padding-left 38px
    background-color white
    border 2px solid whitesmoke
    transition background .4s, border .4s
    @media $bigDesktopMax
      width 272px
      height 90px
      padding-left 28px
    @media $tPortraitMax
      margin-left 0
    &:after
      content ''
      position absolute
      right 38px
      top 50%
      transform translateY(-50%)
      width 54px
      height 54px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAA2BAMAAAB+a3fuAAAAIVBMVEUAAAD19fX19fX19fX19fX19fX19fX19fX19fX19fX19fXnS47aAAAACnRSTlMAIEA38RTTaeRZpeQBZAAAAJtJREFUOMvtyyEKAgEUhOEHIuIVjJ5A0GRVi8kg3mCLyewRTF5BFJU5pRNG3pNh4wZhpw0/X9RNcKu3b3378zbelTa8/rRzU9rhVdMIz50a2RGn0vZAo0YGbEobbAnVyB6zKFsQqpGtIgyyORNkE3PIJuaQTczhEncxhxe8xRxyX+YQyQwmc5jMYTKHyRyuk9nm0fmm7Qu0r4v2AVADugKCvo68AAAAAElFTkSuQmCC') no-repeat center
      transition background .4s
      background-size contain
      @media $bigDesktopMax
        width 40px
        height 40px
        right 28px
    span
      display flex
      align-items center
      position relative
      width 180px
      color $color
      font-size 15px
      font-weight 500
      line-height 21px
      transition color .4s
      @media $bigDesktopMax
        font-size 13px
        line-height 16px
        width 140px
      &:before
        content ''
        display inline-block
        flex-shrink 0
        width 42px
        height 42px
        margin-right 19px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAMAAADyHTlpAAAARVBMVEUAAAAAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavZCZ4UjAAAAFnRSTlMA4R673czuM4h3+USqmWWSXhXjVUk8/qtjqQAAAJhJREFUOMvt0ssKhDAMBdBo+q7jYx73/z91irPoIKRmIyh4F02hhxBKCGK6caH/NKjD028oCVkYaW7TmgmYlJTmlD5KSm90Wtrf9KaH0JKjKJh6g6CkA8JLoLADTC6X6FwEZ4OYJQobDDyNa+UI4CFRQ+TLq3WlgomLkiivx69Wqu2qmbXS3R/YnXUTDb3Mvp6NtpP0tHb9AnNHGUuGBZAcAAAAAElFTkSuQmCC') no-repeat center
        transition background .4s
        background-size contain
        @media $bigDesktopMax
          width 32px
          height 31px
          margin-right 15px
    &:hover
      border-color #076af2
      background-color #076af2
      &:after
        background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAA2BAMAAAB+a3fuAAAAIVBMVEUAAAAAQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ5/6kyHYAAAACnRSTlMAIEA38RTTaeRZpeQBZAAAAJtJREFUOMvtyyEKAgEUhOEHIuIVjJ5A0GRVi8kg3mCLyewRTF5BFJU5pRNG3pNh4wZhpw0/X9RNcKu3b3378zbelTa8/rRzU9rhVdMIz50a2RGn0vZAo0YGbEobbAnVyB6zKFsQqpGtIgyyORNkE3PIJuaQTczhEncxhxe8xRxyX+YQyQwmc5jMYTKHyRyuk9nm0fmm7Qu0r4v2AVADugKCvo68AAAAAElFTkSuQmCC')
      span
        color #fff
        &:before
          background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAMAAADyHTlpAAAASFBMVEUAAAD////////////////////////////////////////////////////////////////////////////////////////////neHiwAAAAF3RSTlMA4R673czuM4h3+WREqpmSFeNcVUk8IiGyAOgAAACYSURBVDjL7dLbCsMgDAbgdPGsXbvj//5vOukuHCtRbwot9L8wgh8hSAhihjjTbyrU4Gb/KAmZGSHWackETJ2U7iG8Oik9MfTSy0lPugnN2YqC6a3gOukI9xAo9AiV8sUb48FJwSeJQjsFS3Gp7AFcJaqIbH7VJlcwcVYS5eX4VpnKXduzFtr8geasq7TpYfZ1b7Se0E9L1w/VyhpdGCT5JwAAAABJRU5ErkJggg==')

