.order-parts
  display flex
  flex-wrap wrap
  align-items flex-start
  justify-content space-between
  margin-bottom 89px
  @media $bigDesktopMax
    margin-bottom 74px
  @media $desktopMax1440
    margin-bottom 54px
  &:last-child
    margin-bottom 0
  &__left
    width calc(100% - 100%/3 - 14px)
    @media $tPortraitMax
      width 100%
      margin-bottom 25px

    .wis-content
      .filials__department
        padding 35px

  &__right
    @media $tPortraitMax
      width 100%
  &__download-price
    display flex
    align-items center
    position relative
    width 366px
    height 122px
    margin-left auto
    margin-top 8px
    padding-left 38px
    background-color white
    border 2px solid whitesmoke
    transition background .4s, border .4s
    @media $bigDesktopMax
      width 272px
      height 90px
      padding-left 28px
    @media $tPortraitMax
      margin-left 0
    &:after
      content ''
      position absolute
      right 38px
      top 50%
      transform translateY(-50%)
      width 54px
      height 54px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAA2BAMAAAB+a3fuAAAAIVBMVEUAAAD19fX19fX19fX19fX19fX19fX19fX19fX19fX19fXnS47aAAAACnRSTlMAIEA38RTTaeRZpeQBZAAAAJtJREFUOMvtyyEKAgEUhOEHIuIVjJ5A0GRVi8kg3mCLyewRTF5BFJU5pRNG3pNh4wZhpw0/X9RNcKu3b3378zbelTa8/rRzU9rhVdMIz50a2RGn0vZAo0YGbEobbAnVyB6zKFsQqpGtIgyyORNkE3PIJuaQTczhEncxhxe8xRxyX+YQyQwmc5jMYTKHyRyuk9nm0fmm7Qu0r4v2AVADugKCvo68AAAAAElFTkSuQmCC') no-repeat center
      transition background .4s
      background-size contain
      @media $bigDesktopMax
        width 40px
        height 40px
        right 28px
    span
      display flex
      align-items center
      position relative
      width 180px
      color $color
      font-size 15px
      font-weight 500
      line-height 21px
      transition color .4s
      @media $bigDesktopMax
        font-size 13px
        line-height 16px
        width 140px
      &:before
        content ''
        display inline-block
        flex-shrink 0
        width 42px
        height 42px
        margin-right 19px
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAqCAMAAAAK/cKeAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAM1BMVEUAAAD///8AavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAAADPbmtLAAAAD3RSTlMAAOFlFe7jM7v5XpI8SR5sapxOAAAAAWJLR0QAiAUdSAAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+MHHQspID8qwBwAAABrSURBVDjL7dNLDoAgDEXRZ0W0oHT/u/U3cEKLookOvOOTtgkBokatw5ouOvH9LqDkBuFgCiCKRFsgMI+2wCRUEOkXisg+7kXR5HpcVF66jEnirS2boAeFfsd5caRteVv4ihlf/w13hR0XBc3m9xiKwhReMgAAAABJRU5ErkJggg==') no-repeat center
        transition background .4s
        background-size contain
        @media $bigDesktopMax
          width 32px
          height 31px
          margin-right 15px
    &:hover
      border-color #076af2
      background-color #076af2
      &:after
        background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADYAAAA2BAMAAAB+a3fuAAAAIVBMVEUAAAAAQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ5/6kyHYAAAACnRSTlMAIEA38RTTaeRZpeQBZAAAAJtJREFUOMvtyyEKAgEUhOEHIuIVjJ5A0GRVi8kg3mCLyewRTF5BFJU5pRNG3pNh4wZhpw0/X9RNcKu3b3378zbelTa8/rRzU9rhVdMIz50a2RGn0vZAo0YGbEobbAnVyB6zKFsQqpGtIgyyORNkE3PIJuaQTczhEncxhxe8xRxyX+YQyQwmc5jMYTKHyRyuk9nm0fmm7Qu0r4v2AVADugKCvo68AAAAAElFTkSuQmCC')
      span
        color #fff
        &:before
          background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACEAAAAqCAQAAACXKvonAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAHdElNRQfjBx0LKS1Bm7yhAAAAkUlEQVRIx+3TsQ2DMBCF4WfECkxCmwWyhLssxDrMwQAoDRW9KfJTUAASkYgPJIh8V7nwp9PTnYiplhcFmlpRRA+8KZeEfuyCGgj4eEKICoDKQghPIPCwEOIJtJks1UiSjVAi/pTIVy92/3MnTuFiiBTnLNjj/KQ4v01x4+28BJHZiYtsZyIOJRz7D3y7BvsU3QheIxp0up+XigAAAABJRU5ErkJggg==')

