.popup-window
  padding 0
  margin-top -3px
  border 3px solid #f0f7ff
  top 100%
  border-bottom-left-radius 3px
  border-bottom-right-radius 3px
  box-shadow 0 10px 10px 0px rgba(0,0,0,0.08)
  overflow hidden

.bx-filter-select-popup
  ul
    li
      &:first-child
        margin 0
        padding 0
        border none
      label
        position relative
        padding 25px 36px 43px
        border-bottom 1px solid #f0f7ff
        color #1d1f20
        font-size 13px
        line-height 19px
        font-weight 400
        letter-spacing 0.03em
        &.selected,
        &:hover
          color #1d1f20
          background-color #f0f7ff
          font-weight 400

.bx-filter .bx-filter-select-container
  height auto
  border-radius 0

.bx-retina .bx-filter .bx-filter-select-container
  border none
