.popup
  position relative
  width 100%
  max-width 670px
  background-color white
  padding 50px 70px 70px
  margin 35px auto
  z-index 1
  &--buy-car
    max-width 855px
    .form__field--half
      margin-bottom 7px
    .form__row
      &:first-child
        margin-bottom 20px
  &__title
    position relative
    color #1d1f20
    font-family GothamPro
    font-size 30px
    line-height 36px
    font-weight 500
    letter-spacing 0.025em
    text-align center
    padding-bottom 30px
    margin-bottom 50px
    &:after
      @extend .after
      left 50%
      transform translateX(-50)
      bottom 0
      width 52px
      height 3px
      background-color #086af3
  .form
    &__field
      &--center
        text-align center
      &-submit
        max-width 354px

  &__car
    display flex
    flex-direction column
    background-color white
    &-top
      width 100%
      border 2px solid #f1f7ff
      margin-bottom 15px
    &-char
      margin-bottom 25px
    &-overimg
      display flex
      align-items center
      justify-content center
      width 100%
      height 203px
    &-img
      max-width 95%
      max-height 95%
    &-title
      color #1d1f20
      font-size 16px
      font-weight 500
      line-height 21px
      margin-bottom 20px
    &-info
      display flex
      flex-wrap wrap
      &-item
        margin-bottom 20px
        margin-right 45px
      &-title, &-data
        font-size 14px
        font-weight 400
        line-height 24px
      &-title, &-data
        color rgba(#1d1f20, .5)
      &-data
        color #1d1f20
      &-color
        display block
        width 24px
        height 24px
