.popup
  position relative
  top -20px
  width 100%
  max-width 670px
  background-color white
  padding 62px 70px 70px
  margin 35px auto
  z-index 1
  opacity 0
  transition .7s opacity, .7s top
  @media $tPortraitMax
    margin-top 70px
    padding 42px 40px 40px
  @media $mPortraitMax
    padding 22px 20px 20px
  &--buy-car
    max-width 855px
    .form__field--half
      margin-bottom 7px
    .form__row
      &:first-child
        margin-bottom 20px
  &__title
    position relative
    color #1d1f20
    font-family GothamPro
    font-size 30px
    line-height 36px
    font-weight 500
    letter-spacing 0.025em
    text-align center
    padding-bottom 30px
    margin-bottom 50px
    &:after
      @extend .after
      left 50%
      transform translateX(-50%)
      bottom 0
      width 52px
      height 3px
      background-color #086af3
  .form
    &__field
      &--center
        text-align center
      &-submit
        max-width 354px

  &__car
    display flex
    align-items stretch
    flex-wrap wrap
    background-color white
    margin-bottom 7px
    @media $mLandscapeMax
      align-items flex-start
      margin-bottom 0
    &-top
      width 50%
      border 2px solid #f1f7ff
      @media $mLandscapeMax
        width 100%
        margin-bottom 15px
    &-char
      width 50%
      border 2px solid #f1f7ff
      margin-left -2px
      padding 20px 24px
      @media $mLandscapeMax
        width 100%
        border 0
        margin-left 0
        padding 0
        margin-bottom 25px
    &-overimg
      display flex
      align-items center
      justify-content center
      width 100%
      // height 203px
      height 100%
      @media $mPortraitMax
        padding 15px
    &-img
      max-width 95%
      max-height 95%
    &-title
      color #1d1f20
      font-size 16px
      font-weight 500
      line-height 21px
      margin-bottom 15px
    &-info
      display flex
      flex-wrap wrap
      &-item
        margin-bottom 15px
        margin-right 45px
        &:nth-child(2n)
          margin-right 0
        &--long
          width 100%
          margin-right 0
      &-title, &-data
        font-size 14px
        font-weight 400
        line-height 24px
      &-title, &-data
        color rgba(#1d1f20, .5)
      &-data
        color #1d1f20
      &-color
        display inline-block
        vertical-align middle
        width 24px
        height 24px
        margin-right 7px
        &:last-child
          margin-right 0
        &:first-child
          margin-left 13px

