.range
  &__row
    display flex
    justify-content space-between
    align-items flex-end
    margin-top 12px
  &__digits
    width 88px
    height 32px
    background-color white
    color #1d1f20
    font-family GothamPro
    font-size 13px
    font-weight 500
    line-height 32px
    text-transform uppercase
    text-align center
    border none
    outline none
    padding 0 7px
    &:focus
      outline none
