.reviews
  background-color #f1f7ff
  padding-bottom 40px
  text-align center
  &__top
    display flex
    align-items center
    justify-content space-between
    padding-left 40px
    margin-bottom 40px
    @media $desktopMax1440
      padding-left 29px
      margin-bottom 26px
    @media $mPortraitMax
      flex-wrap wrap
      align-items flex-start
      justify-content flex-start
      padding-top 20px
      padding-left 20px
  &__title
    color $color
    font-size 24px
    line-height 30px
    font-weight 500
    max-width calc(100% - 380px)
    @media $desktopMax1440
      font-size 18px
    @media $mPortraitMax
      max-width 100%
    span
      color rgba($color, .5)
      font-size 20px
      font-weight 400
      @media $desktopMax1440
        font-size 15px
  &__write-btn
    min-width 354px
    @media $desktopMax1440
      min-width 263px
    @media $mPortraitMax
      margin-top 15px
  &__items
    padding 0 40px
    margin-bottom 40px
    @media $desktopMax1440
      padding 0 29px
    @media $mPortraitMax
      padding 0 20px
  &__item
    display flex
    flex-wrap wrap
    padding 25px 0
    border-top 2px solid #fff
    text-align left
    @media $desktopMax1440
      padding 16px 0
    &:first-child
      padding-top 0
      border-top none
    &:last-child
      padding-bottom 0
    &-left
      width 164px
      margin-right 28px
      @media $desktopMax1440
        font-size 12px
        width 120px
        margin-right 24px
      @media $mPortraitMax
        width 100%
        margin-right 0
    &-right
      width calc(100% - 192px)
      @media $desktopMax1440
        margin-top -2px
        width calc(100% - 144px)
      @media $mPortraitMax
        width 100%
        margin-top 10px
    &-author, &-date
      line-height 22px
      @media $desktopMax1440
        line-height 18px
    &-author
      color $color
      margin-bottom 5px
      @media $desktopMax1440
        margin-bottom -2px
    &-date
      color #a8a8a8
    //&-text
    &-overimg
      display block
      position relative
      width 80px
      margin-top 20px
      overflow hidden
      z-index 1
      @media $desktopMax1440
        width 60px
        margin-top 17px
      &:before
        @extend .before
        left 0
        top 0
        width 100%
        height 100%
        background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAAY1BMVEUAAAAAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavYAavaJR4m5AAAAIHRSTlMAaNEFvoqm5NvYwLOXWlZOSkQ+Oi8MyJ6AfXRuYSwoF/yuBfAAAACrSURBVCjPtY/bEoMgDEQBAQEtCIj3Wv//KzutcYRMX5uXZHImuxvyrcq2hvG2q0hZW93QuIfVKJevKzn0MAYtMiDlrZD4TbYhV07KX0J1X/h1DAbboCQsnr2lCEzz2U1EwEq43BHwoM0DAo8RPFYExALxDAL6CX+oUCrxa3I6ZftX9q/g6d6zg2Z2qrt06uPIiWdssv4hNO9pSUicZTMunzxAcP2DOPKbOPIGSEIIgrZiJJsAAAAASUVORK5CYII=') no-repeat center rgba(#fff, .7)
        opacity 0
        transition opacity .4s
        z-index 1
      &:hover
        &:before
          opacity 1
    &-img
      max-width 100%
      max-height 100%
    &-text
      .wis-content p:not([class])
        @media $desktopMax1440
          font-size 12px
          line-height 18px
