.services
  margin-bottom 115px
  &:last-child
    margin-bottom 0
  @media $bigDesktopMax
    margin-bottom 73px
  &__row
    display flex
    flex-wrap wrap
    width calc(100% + 28px)
    margin 0 -14px
    counter-reset count-iserv
    @media $mLandscapeMax
      width calc(100% + 20px)
      margin 0 -10px
  &__item
    display flex
    flex-direction column
    align-items flex-start
    justify-content space-between
    position relative
    min-height 183px
    background-color white
    border 2px solid whitesmoke
    border-radius 1px
    width calc(100%/6 - 28px)
    padding 34px 75px 26px 33px
    margin 0 14px 28px
    transition background .4s, border .4s
    z-index 1
    @media $bigDesktopMax
      padding 25px 55px 14px 23px
      min-height 136px
      margin-bottom 20px
    @media $desktopMax
      width calc(25% - 28px)
    @media $tPortraitMax
      width calc(100%/3 - 28px)
    @media $mLandscapeMax
      width calc(50% - 20px)
      margin 0 10px 20px
    &:before
      @extend .before
      counter-increment count-iserv
      content counter(count-iserv,  decimal-leading-zero) " "
      right 33px
      top 38px
      transform translateY(-50%)
      color #e9eff7
      font-family "GothamPro"
      font-size 18px
      font-weight 500
      line-height 22px
      text-transform uppercase
      pointer-events none
      transition color .4s
      z-index 1
      @media $bigDesktopMax
        font-size 14px
        line-height 14px
        right 22px
        top 28px
    &:after
      @extend .after
      left 0
      top 0
      width 0
      height 100%
      background-color $blueLight
      transition width .4s cubic-bezier(0.645, 0.045, 0.355, 1)
      z-index -1
    i
      display block
      position absolute
      right 18px
      bottom 22px
      width 48px
      height 48px
      background url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAJCAMAAAAFH/x6AAAAM1BMVEUAAADn7/jn7/jn7/jn7/jn7/jn7/jn7/jn7/jn7/jn7/jn7/jn7/jn7/jn7/jn7/jn7/h9sHmbAAAAEHRSTlMAZvXq48ZZU0Y6KRUN3ZmYPXPLlAAAADRJREFUCNdjQAU8rIwMGICbRYAdU5SLmYmDgYGNERXwCTBxMghgAl4MlfxAldjMJGg7wp0A2LMCWazNc+AAAAAASUVORK5CYII=') no-repeat center #fff
      transition background .4s
      z-index 1
      @media $bigDesktopMax
        right 14px
        bottom 17px
        width 35px
        height 35px
        background-size 15px
    &:hover
      border-color $blueLight
      &:after
        width 100%
      &:before
        color $blue
      .services__item
        &-title
          color #fff
        &-ico
          filter brightness(0) invert(1)
        &-text
          color rgba(#fff, .86)
      i
        background-image url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAJBAMAAADA7xF7AAAAMFBMVEUAAAAAQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ58AQ58B+wHKAAAAD3RSTlMAZvtW9erjxZlGOikVDd1W25euAAAAKUlEQVQI12OAgusCDDBwTBnO5A6awGAoCAH9Xgz/YeAfsihCLbIJCHMBfCAScro2ulMAAAAASUVORK5CYII=')
    &-top
      display flex
      align-items center
      margin-bottom 20px
      width 100%
    &-overico
      display inline-flex
      margin-bottom 31px
      align-items flex-start
      @media $bigDesktopMax
        max-width 32px
        margin-bottom 25px
    &-title
      color $color
      font-size 15px
      font-weight 500
      line-height 21px
      letter-spacing 0.02em
      transition color .4s
      @media $bigDesktopMax
        font-size 13px
        line-height 17px
        margin auto 0
    &-text
      color rgba($color, .86)
      font-size 15px
      font-weight 400
      line-height 21px
      transition color .4s
  //&__groups
  &__group
    margin-bottom 17px
    &:last-child
      margin-bottom 0
    &-title
      position relative
      padding-bottom 14px
      margin-bottom 30px
      color $color
      font-size 18px
      font-weight 500
      line-height 24px
      letter-spacing .02em
      @media $bigDesktopMax
        font-size 14px
        line-height 18px
        padding-bottom 12px
        margin-bottom 20px
        letter-spacing 0.015em
      &:after
        @extend .after
        left 0
        bottom 0
        width 20px
        height 2px
        background-color $blueLight
        @media $bigDesktopMax
          width 18px
  &--page
    .services__item
      justify-content flex-start
      width calc(25% - 28px)
      min-height 200px
      &-overico
        display flex
        align-items center
        width 50px
        height 50px
        flex-shrink 0
        margin 0 20px 0 0
      &-ico
        max-height 100%

