+b('footer').footer
  +e.top
    .container
      +e.row
        +e.col
          +e('p').col-title Модельный ряд
          +e('ul').nav
            +e('li').nav-item
              +e('a')(href="#").nav-href ГАЗель НЕКСТ
            +e('li').nav-item
              +e('a')(href="#").nav-href ГАЗель БИЗНЕС
            +e('li').nav-item
              +e('a')(href="#").nav-href ГАЗон НЕКСТ
            +e('li').nav-item
              +e('a')(href="#").nav-href Автобус
            +e('li').nav-item
              +e('a')(href="#").nav-href Спецтехника
              
        +e.col.--x2
          +e('p').col-title Популярное
            +e('ul').nav
              +e('li').nav-item
                +e('a')(href="#").nav-href Цельнометаллический фургон
              +e('li').nav-item
                +e('a')(href="#").nav-href Автобус
              +e('li').nav-item
                +e('a')(href="#").nav-href.--active Грузовик
              +e('li').nav-item
                +e('a')(href="#").nav-href Фургон
              +e('li').nav-item
                +e('a')(href="#").nav-href Шасси
              +e('li').nav-item
                +e('a')(href="#").nav-href Фермер
              +e('li').nav-item
                +e('a')(href="#").nav-href Бортовой а/м
              +e('li').nav-item
                +e('a')(href="#").nav-href Спецтехника
              +e('li').nav-item
                +e('a')(href="#").nav-href Европлатформа

        +e.col.--x2
          +e('p').col-title Назначение
            +e('ul').nav
              +e('li').nav-item
                +e('a')(href="#").nav-href Грузовые автомобили
              +e('li').nav-item
                +e('a')(href="#").nav-href Коммерческие автомобили
              +e('li').nav-item
                +e('a')(href="#").nav-href Пассажирские автомобили
              +e('li').nav-item
                +e('a')(href="#").nav-href Дешевые автомобили
              +e('li').nav-item
                +e('a')(href="#").nav-href Дорогие автомобили
              +e('li').nav-item
                +e('a')(href="#").nav-href Медтехника
              +e('li').nav-item
                +e('a')(href="#").nav-href Эвакуаторы
              +e('li').nav-item
                +e('a')(href="#").nav-href Самосвалы
              +e('li').nav-item
                +e('a')(href="#").nav-href Молоковозы
              +e('li').nav-item
                +e('a')(href="#").nav-href Бензовозы
                
        +e.col
          +e('p').col-title Подбор авто
            +e('ul').nav
              +e('li').nav-item
                +e('a')(href="#").nav-href Все новые авто
              +e('li').nav-item
                +e('a')(href="#").nav-href Все авто с пробегом
              +e('li').nav-item
                +e('a')(href="#").nav-href Все авто в наличии
              +e('li').nav-item
                +e('a')(href="#").nav-href Запасные части
              +e('li').nav-item
                +e('a')(href="#").nav-href Сервис и услуги
  +e.bottom
    .container
      +e.row
        +e('p').coopy © Группа компаний «Лидер», 2019
        +e('ul').nav.--bottom
          +e('li').nav-item
            +e('a')(href="#").nav-href Программа лояльности
          +e('li').nav-item
            +e('a')(href="#").nav-href.--active Политика конфиденциальности
          +e('li').nav-item
            +e('a')(href="#").nav-href Условия использования
          +e('li').nav-item
            +e('a')(href="#").nav-href Адреса
          +e('li').nav-item
            +e('a')(href="#").nav-href О компании

        +b('ul').social
          +e('li').item
            +e('a')(href="#").item-href.--vk
              include ../../../../prod/static/img/svg/vk.svg
          +e('li').item
            +e('a')(href="#").item-href.--fb
              include ../../../../prod/static/img/svg/fb.svg
          +e('li').item
            +e('a')(href="#").item-href.--ok
              include ../../../../prod/static/img/svg/ok.svg
            
        +e('a')(href="https://www.dextra.ru/" target="_blank").dev
          span dextra
          | Разработка<br>сайта
