+b('header').header 
  +e.row
    +e('a')(href="#").logo
      +e('img')(src="static/img/logo.png").logo-img
    
    +e('ul').contacts
      +e('li').contacts-item
        +e.contacts-item-overico
          +e('img')(src="static/img/ico.png" alt="").contacts-item-ico
        +e.contacts-item-info
          +e('p').contacts-item-title АвтоцентрГАЗ-Лидер
          +e('a')(href="tel:").contacts-item-phone +7 (908) 374-12-20
          +e('address').contacts-item-address Саратов, проспект Ленина, 186

      +e('li').contacts-item
        +e.contacts-item-overico
          +e('img')(src="static/img/ico.png" alt="").contacts-item-ico
        +e.contacts-item-info
          +e('p').contacts-item-title АвтоцентрГАЗ-СаратовЮГ
          +e('a')(href="tel:").contacts-item-phone +7 (904) 500-08-80
          +e('address').contacts-item-address ул. Куйбышева, 13

      +e('li').contacts-item
        +e.contacts-item-overico
          +e('img')(src="static/img/ico.png" alt="").contacts-item-ico
        +e.contacts-item-info
          +e('p').contacts-item-title Энгельсский филиал АвтоцентрГАЗ-СаратовЮГ
          +e('a')(href="tel:").contacts-item-phone +7 (922) 744-80-10
          +e('address').contacts-item-address проспект Победы, 24

    +e('a')(href="#").feedback-btn Заказать звонок
